NEXT_PUBLIC_APP_NAME="The National Innovation Challenge"
NEXT_PUBLIC_APP_SHORT_NAME="The National Innovation Challenge"
NEXT_PUBLIC_APP_SLOGAN="Science, technology and innovation for public impact."
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_DOMAIN=localhost
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_CMS_URL=http://localhost:1337
NEXT_PUBLIC_SUPPORTING_DOCUMENT_MAX_FILES=3
NEXT_PUBLIC_SUPPORTING_DOCUMENT_MAX_SIZE_MB=2
